@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27");

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #20272c;
  background-color: #121212;
}

/* navbarnya */
.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #121212;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 250ms;
}

.navbar a:hover {
  color: #bb86fc;
}

.navbar-logo a {
  font-family: Bebas Neue;
  font-style: italic;
  font-weight: bold;
  font-size: 4em;
  margin-left: 2.6rem;
  letter-spacing: 0.1em;
}

.navbar-content {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4em;
  line-height: 2.8em;
}

.navbar-content li {
  margin: 0 2.725rem;
  transition: 300ms;
}

.about-us {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4em;
  line-height: 2.8em;
  margin-right: 2.6rem;
}

.navbar-active {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

/*AboutUs*/
.picture-container {
  align-items: center;
}

.web-description-title {
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #f5f5f5;
}

.web-description-container {
  margin: 0px 100px 100px 100px;
}

.paragraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #f5f5f5;
}

.infort-title {
  font-family: Bebas Neue;
  font-style: italic;
  font-weight: bold;
  font-size: 70px;
  line-height: 60px;
  text-align: center;
  margin-top: 150px;
  letter-spacing: 0.1em;
  margin-bottom: 70px;
  color: #f5f5f5;
}

.infort-content-container {
  padding-right: -30px;
  margin-right: auto;
}

.paragraph2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.image-kanan {
  margin-left: 50px;
  margin-right: 20px;
  padding-right: -50px;
  align-items: center;
  float: right;
  width: 50%;
  height: auto;
  left: 742px;
  top: 1284px;
}

.meet-our-team-title {
  font-family: Raleway;
  font-style: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin-top: 150px;
  color: #f5f5f5;
}

.meet-our-team-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  background-color: #121212;
  padding: 10px;
}

.account-name {
  font-family: Montserrat;
  font-size: 24px;
  color: #f5f5f5;
}

.email {
  font-family: Montserrat;
  font-size: 18px;
  color: #f5f5f5;
}

.meet-our-team-1 {
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.meet-our-team-5 {
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px auto;
  width: 50%;
  padding: 10px;
}

.info {
  padding-left: 10px;
}

/* footer */
footer {
  background-color: #333333;
  margin-top: 84px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;
  width: 100%;
}

.footer-content1 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #bb86fc;
}

.fcontent1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}

.footer-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;

  color: #f5f5f5;
}

.footer-sosmed img {
  margin: 39px 20px 70px 20px;
}

.footer-content2 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

@media only screen and (max-width: 1104px) {
  .footer-sosmed img {
    margin: 39px 12px 70px 12px;
  }
}

/*responsive */
@media only screen and (max-width: 972px) {
  /* navbar */
  .navbar-container {
    position: relative;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .navbar-content {
    font-size: 1.9em;
  }

  .navbar-logo a {
    margin-left: 0;
    line-height: 3.7em;
  }
  .navbar-logo {
    margin-bottom: -45px;
  }

  .about-us {
    font-size: 1.9em;
    margin-right: 0;
    margin-top: -15px;
  }

  /* content */
  .meet-our-team-content {
    grid-template-columns: 100%;
  }

  .account-name {
    font-size: 24px;
  }

  .email {
    font-size: 18px;
  }

  .meet-our-team-1 {
    flex-direction: column;
  }

  .meet-our-team-5 {
    flex-direction: column;
    width: 97%;
    margin-top: 20px;
  }

  .info {
    text-align: center;
  }

  .paragraph {
    font-size: 20px;
  }

  .paragraph2 {
    font-size: 20px;
  }

  .web-description-container {
    margin: 0px 60px 100px 60px;
  }

  .image-kanan {
    margin: 0 auto;
    width: 100%;
  }

  .web-description-title {
    font-size: 28px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .infort-title {
    font-size: 50px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  /* footer */

  .footer-content1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
  }

  .fcontent1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .heading1 {
    font-size: 15px;
  }

  .paragraph1 {
    font-size: 11px;
  }

  .footer-content2 h1 {
    font-size: 11px;
  }

  .footer-p {
    font-size: 11px;
  }

  .account-name {
    font-size: 15px;
  }

  .email {
    font-size: 11px;
  }

  .paragraph {
    font-size: 12px;
  }

  .paragraph2 {
    font-size: 12px;
  }

  .web-description-container {
    margin: 0px 40px 100px 40px;
  }
}
