@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;500;700&display=swap");

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #20272c;
  background-color: #121212;
}

/* navbarnya */
.navbar-container {
  position: sticky;
  width: 100%;
  z-index: 99;
  background-color: #121212;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: 250ms;
}

.navbar a:hover {
  color: #bb86fc;
}

.navbar-logo a {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 3.7em;
  margin-left: 2.6rem;
}

.navbar-content {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4em;
  line-height: 2.8em;
}

.navbar-content li {
  margin: 0 2.725rem;
  transition: 300ms;
}

.about-us {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4em;
  line-height: 2.8em;
  margin-right: 2.6rem;
}

.navbar-active {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #333333;
  margin-top: 84px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;
  width: 100%;
}

.footer-content1 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #bb86fc;
}

.content1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}

.footer-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;

  color: #f5f5f5;
}

.footer-sosmed img {
  margin: 39px 20px 70px 20px;
}

.footer-content2 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

@media only screen and (max-width: 1104px) {
  .footer-sosmed img {
    margin: 39px 12px 70px 12px;
  }
}

/*responsive */
@media only screen and (max-width: 972px) {
  /* navbar */
  .navbar-container {
    position: relative;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .navbar-content {
    font-size: 1.9em;
  }

  .navbar-logo a {
    margin-left: 0;
  }
  .navbar-logo {
    margin-bottom: -45px;
  }

  .about-us {
    font-size: 1.9em;
    margin-right: 0;
    margin-top: -15px;
  }

  /* footer */

  .footer-content1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
  }

  .content1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .footer-content2 h1 {
    font-size: 11px;
  }

  .footer-p {
    font-size: 11px;
  }
}
